{% for room in rooms %}
    <div class="col-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    {% if request.user == room.host %}
                        <a href="{% url 'update-room' room.id %}" class="btn btn-sm btn-warning">Edit</a>
                        <a href="{% url 'delete-room' room.id %}" class="btn btn-sm btn-danger">Delete</a>
                    {% endif %}
                </div>
                <div class="mt-2 d-flex align-items-center">
                    <a href="{% url 'user-profile' room.host.id %}">
                        <img src="{{ room.host.avatar.url }}" alt="Profile Photo" class="rounded-circle img-thumbnail" style="width: 50px; height: 50px;">
                    </a>
                    <a href="{% url 'user-profile' room.host.id %}" class="text-info ml-2">@{{ room.host.username }}</a>
                </div>
                <p><a href="{% url 'room' room.id %}">{{ room.name }}</a></p>
                <p>
                    {% if room.participants.all.count == 0 or room.participants.all.count == 1 %}
                        <span>{{ room.participants.all.count }} Participant Joined</span>
                    {% else %}
                        <span>{{ room.participants.all.count }} Participants Joined</span>
                    {% endif %}
                </p>
                <div>
                    <span>{{ room.created_time|timesince }}</span>
                </div>
                <hr>
                <small>{{ room.topic.name }}</small>
            </div>
        </div>
    </div>
{% endfor %}
