{% extends 'main.html' %}

{% block content %}
<div class="container mt-sm-5 pt-sm-5">
    <div class="row">
        <div class="col-12">
            <h3>Browse Topics</h3>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            
            {% if room_count == 0 %}
            <h4>{{room_count}} room available</h4>

            {% else %}
            <h4>{{room_count}} rooms available</h4>
            {% endif %}
                
            
            <a href="{% url 'create-room' %}" class="btn btn-primary">Create Room</a>
            <h1>Home Page</h1>
        </div>
    </div>

    <div class="row">
        <!-- Column for Topics -->
       {% include 'base/topic_component.html' %}

        <!-- Column for Rooms -->
        <div class="col-md-6">
            <div class="row">
                <div class="col-12">
                    <h4>Rooms</h4>
                </div>
               {% include 'base/feed_component.html' %} 
            </div>
        </div>

        <!-- Column for Recent Activity -->
        <div class="col-md-3">
          {% include 'base/activity_component.html' %}
        </div>
    </div>
</div>
{% endblock content %}
